<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="databaseConnections" type="MattchedIT.Common.Data.Configuration.DbConnectionConfiguration,MattchedIT.Common.Data"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings />
  <databaseConnections>
    <databases>
      <add name="votes">
        <sources>
          <add runat="MIDEV04" server="." instance="" database="StatesVotes" user="sa" password="m4ttch3d1t" />
        </sources>
      </add>
    </databases>
  </databaseConnections>
</configuration>